<%- include('partials/header') %>
<main>
      <h1><%- title %></h1>
        <section id="clones" class="content-section">
        <div class="selectors">
          <div class="legions">
            <label for="legions">Legions:</label>
            <select id="legion-tags" name="legion">
              <option value="All"></option>
              <option value="501st Legion">501st Legion</option>
              <option value="212th Attack Battalion">212th Attack Battalion</option>
              <option value="Rishi Station Unit">Rishi Station Unit</option>
              <option value="Domino Squad">Domino Squad</option>
              <option value="104th Battalion">104th Battalion</option>
              <option value="Clone Force 99">Clone Force 99</option>
              <option value="Coruscant Guard">Coruscant Guard</option>
              <option value="41st Elite Corps">41st Elite Corps</option>
              <option value="Clone Flight Squad Seven">Clone Flight Squad Seven</option>
              <option value="Doom's Unit">Doom's Unit</option>
              <option value="Eeth Koth's Unit">Eeth Koth's Unit</option>
              <option value="Lightning Squadron">Lightning Squadron</option>
              <option value="Rancor Battalion">Rancor Battalion</option>
              <option value="327th Star Corps">327th Star Corps</option>
              <option value="Outer Rim Garrison">Outer Rim Garrison</option>
            </select>
          </div>
          <div class="ranks">
            <label for="ranks">Ranks:</label>
            <select id="ranks-tags" name="rank">
              <option value="All"></option>
              <option value="Captain">Captain</option>
              <option value="Commander">Commander</option>
              <option value="ARC Trooper">ARC Trooper</option>
              <option value="ARC Commander">ARC Commander</option>
              <option value="Corporal">Corporal</option>
              <option value="Medic">Medic</option>
              <option value="Lieutenant">Lieutenant</option>
              <option value="Commando">Commando</option>
              <option value="Sergeant">Sergeant</option>
              <option value="Clone Trooper">Clone Trooper</option>
              <option value="Shock Trooper">Shock Trooper</option>
              <option value="Officer">Officer</option>
              <option value="Squad Leader">Squad Leader</option>
              <option value="Pilot">Pilot</option>
              <option value="ARF Trooper">ARF Trooper</option>
              <option value="ARF Scout Trooper Sergeant">ARF Scout Trooper Sergeant</option>
              <option value="Private">Private</option>
            </select>
            </div>
          </div>
        </section>
    <section id="clone-container">
      <% cloneList.forEach(function(item, index) {
        const modalID = `modal-${index}`;
        const colorClass = item.legion ? item.legion.toLowerCase() : "none";
      %>
          <div class="character">
            <img src="<%= item.imgSrc %>" alt="<%= item.name %>" />
            <button class="open-modal button <%= item.legion %>" data-target="<%= modalID %>"><%= item.name %></button>
          </div>
      <% }); %>
    </section>
</main>

<%- include('partials/footer') %>